zsh/.zsh/zsh-autosuggestions/
**/ai_infra_env.sh
**/ai_model_env.sh
**/hfd.sh
zsh/.zsh/zsh-history-substring-search/
lazysql/.config/lazysql/history/
**/Rime/Rime/build
*.png
*.log
*.pdf
**/result/
**/node_modules/**
Rime/Rime/luna_pinyin.userdb/*
